.collapse ul li a{color: rgb(255, 244, 244) !important; font-size: 12px;}
.container-fluid p {color: white; margin-top: 15px; font-size: 12px;}
.container-fluid button {font-size: 14px;}
@media screen and (min-width:1268px) {
  .fasttrack{margin-left: 185px;}
  .p{display: flex;}
  
}
@media screen and (min-width:1268px) and (max-width:1286px) {
  .fasttrack{margin-left: 70px;}
  .p{display: flex;}
  
}
@media screen and (min-width:1172px) and (max-width:1268px) {
  .fasttrack{margin-left: 70px;}
  .p{display: flex;}
  
}
@media screen and (min-width:1149px) and (max-width:1172px) {
  .fasttrack{margin-left: 20px;}
  .p{display: flex;}
  
}
@media screen and (min-width:1095px) and (max-width:1149px) {
  .fasttrack{margin-left: 60px;}
  
}
@media screen and (min-width:1045px) and (max-width:1095px) {
  .fasttrack{margin-left: 20px;}
  
}
@media screen and (min-width:1029px) and (max-width:1045px) {
  .fasttrack{margin-left: 4px;}
  
}
@media screen and (min-width:991px) and (max-width:1029px) {
  .fasttrack{margin-left: 4px;}
.collapse ul li a{color: white !important; font-size: 11px;}
}
@media screen and (max-width:991px) {
  .p{display: flex;}
  .p p{margin-left: 30px; font-size: 15px; }
}

/* Header */

#search{height:50px; width: 100%;}
.imgdrp{ justify-content: center; padding-top: 15px;}
.ser{align-items: center; justify-content: center; padding-top: 15px;}
.btns{border: none; background-color: white; margin-top: 10px; font-weight: bold; text-decoration: none; color: black; cursor: pointer; margin-right: 14px;}
.btns:hover{text-decoration: underline; color: rgb(129, 27, 150); transition: all 0.5s ease;}
@media screen and (min-width:768px) and (max-width:993px) {
  .ser{margin-left: 30px;}
}
.icn{margin-left: -42px; margin-top: 25px;}

@media screen and (min-width:993px) {
  .containr{
    border-radius: 10% 10% 50% 50% / 0% 0% 15% 15% ;
     background-color:rgb(219, 244, 254) ; background-image: url('../../../public/images/image-20427.38571302023-removebg-preview.png'); background-repeat: no-repeat; background-position-x: 80%;
     height: 70vh !important;
    } 
  .para11{display: none;}
  .para21{display: none;}
  .para31{display: none;}
  .para41{display: none;}
  .joinnow1{display: none;}
}
@media screen and (min-width:991px) and (max-width:1155px) {

.car{margin-top: 115px; margin-left: -70px !important; max-width: 200px;}
  
}
@media screen and (max-width:993px) {
  .containr{ background-color:rgb(219, 244, 254) ; background-image: url('../../../public/images/image-20427.38571302023-removebg-preview.png'); background-repeat: no-repeat; background-position-x: 87% ; 
  } 
}
@media screen and (min-width:991px) and (max-width:1200px) {
.car2{margin-top: 270px !important; margin-left: -60px !important;}
  
}


.para1{font-size: 37px; font-weight: 600;}
.para2{font-size: 37px; font-weight: 600;margin-top: -27px !important; }
.span{color: red;}
.para3{font-size: larger; font-weight: 500; margin-top: 80px !important;}
.para4{font-size: larger; font-weight: 500; margin-top: -18px !important;}










 @media  screen and (max-width:991px) {
  .para1{display: none;}
  .para2{display: none;}
  .para3{display: none;}
  .para4{display: none;}
  .joinnow{display: none;}
.car{margin-top: -30px; margin-left: 120px; max-width: 350px; }
.car1{margin-top: 150px; margin-left: 30px; max-width: 350px; }
.car2{margin-top: 170px; margin-left: 120px; max-width: 350px; }
.abc{text-align: right !important;}
.para11{font-size: 37px; font-weight: 600;margin-left: 100px;}
.para21{font-size: 37px; font-weight: 600;margin-top: -27px !important;margin-left: 100px; }
.span{color: red;}
.para31{font-size: larger; font-weight: 500; margin-top: 80px !important;margin-left: 100px;}
.para41{font-size: larger; font-weight: 500; margin-top: -18px !important; margin-left: 100px;}
.joinnow1{margin-left: 100px;}
 }
.pakit{background-image: url('../../../public/images/m-img.png'); color: white;}





/* footer */
.listyle ul li{list-style: none;}
.listyle ul li{font-size: 16px !important;  margin-top: 1px; margin-top: 2px !important;}
.listyle ul li a{text-decoration: none;}
.listyle ul li a:hover{text-decoration: underline; color: rgb(255, 81, 0) !important;}